@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    background-image: linear-gradient(to top,#a18cd1 0%, #330867 80%);
}
#BackButtonBlock{
    width: 100%;
    position: relative;
    height: 80px;
    
}
#backBlock {
    position: absolute;
    left: 10px;
    top: 10px;
    transition: 0.2s;
}
#backBlock:hover{
    left: 5px;
}

nav{
    position: relative;
    background-color: ivory;
}
nav #HeadingText{
    text-align: center;
    margin: 10px;
    font-size: 25px;
}
nav div{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.NavButton{
    padding: 10px;
    margin: 10px;
    width: 20%;
    min-width: 200px;
    text-align: center;
    border: 1px solid black;
    background-color: white;
}
#Triangle{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 20px solid ivory;
}
#MyHistorySection {
    width: 90%;
    margin: auto;
    display: flex;
    margin-top: 60px;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
    color: white;
}
#imageBlock {
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-color: white;
    margin-bottom: 10px;
}
@media (max-width: 800px) {
    #imageBlock {
        max-width: 200px;
        max-height: 200px;
        
    }
}
#linkBlock span a{
    color: #86e3ef;
}
#descriptionBlock {
    font-family: 'Source Sans Pro', sans-serif;
    width: 60%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: justify;
}
@media (max-width: 800px) {
    #descriptionBlock {
        width: 90%;
        text-align: justify;
        font-size: 17px;
    }
}
@media (max-width: 550px) {
    #descriptionBlock {
        width: 100%;
        text-align: justify;
        font-size: 17px;
    }
}

.SectionHeader{
    font-size: 25px;
    text-align: center;
    color: white;
    font-weight: 500;
    text-decoration: underline;
    margin: 20px;
}
#ValuesSection{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.IconContainer{
    width: 100px;
    height: 100px;
    padding: 5px;
    transform: rotate(45deg);
    background-color: aquamarine;
    border: 10px white solid;
    margin: 30px;
}
#ValuesSection p{
    text-align: center;
    color: white;
    font-size: 18px;
}
.IconContainer img{

    transform: rotate(-45deg);

}

/* Footer CSS component */
#footerContent {
    position: relative;
    width: 100%;
    height: 100px;
    margin-top: 50px;
    background-color: #333;
}
#socialsContent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#GitHubBlock {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}
#LinkedInBlock {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}
#emailBlock {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}
#GitHubIMG {
    width: 20px;
    height: auto;
}
#LinkedInIMG {
    width: 20px;
    height: auto;
}
#MadeByText{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 12;
    position: absolute;
    left: 50%;
    top: calc(50% + 20px);
    transform: translate(-50%,-50%);
}