/* Footer CSS component */
#footer-content {
    position: relative;
    width: 100%;
    height: 100px;
    margin-top: 50px;
    background-color: #333;
}
#socials-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#github-block {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}
#linkedin-block {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}
#email-block {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}
#GitHubIMG {
    width: 20px;
    height: auto;
}
#LinkedInIMG {
    width: 20px;
    height: auto;
}
#made-by-text{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 12;
    position: absolute;
    left: 50%;
    top: calc(50% + 20px);
    transform: translate(-50%,-50%);
}